---
const currentDate = new Date()

const lastUpdated = currentDate.toLocaleString("es-ES", {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
  hour: "2-digit",
  minute: "2-digit",
  hour12: false,
})
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Liga Municipal de Baloncesto Hortaleza" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Liga Municipal de Baloncesto Hortaleza</title>
  </head>
  <body>
    <slot />
  </body>
  <footer>
    <p class="footer-content">Origen de los datos: Ayuntamiento de Madrid</p>
    <p class="footer-content">Última actualización: {lastUpdated}</p>
    <p class="footer-content-small">Hecho por Rubén 🏀</p>
  </footer>
</html>
<style is:global>
  :root {
    --primary-color: #003df6;
    --primary-light-color: #003df630;
    --primary-very-light-color: #eff3ff;
    --black-color: #0f2145;
    --white-color: #fff;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 700;
  }

  html {
    background: var(--white-color);
    font-family: "Montserrat", sans-serif;
    color: var(--black-color);

    /* background: #ffffff;
    opacity: 0.9;
    background-image: radial-gradient(#003df6 0.4px, transparent 0.4px),
      radial-gradient(#003df6 0.4px, #ffffff 0.4px);
    background-size: 1.5rem 1.5rem;
    background-position:
      0 0,
      0.75rem 0.75rem; */
  }

  /* START OF CSS RESET June 2024 */

  * {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    min-height: 100dvh;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  img,
  video,
  svg {
    height: auto;
    max-width: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
    }
  }

  /* END OF CSS RESET June 2024 */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-color);
  }

  body {
    max-width: 800px;
    margin: auto;
    position: relative;
  }

  body::before {
    content: "";
    background-image: url("/images/background-image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0.025;
    z-index: -1;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    border-top: 0.0625rem solid var(--primary-very-light-color);
  }

  .footer-content {
    font-size: 0.75rem;
    text-align: center;
  }

  .footer-content-small {
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }
</style>
